artificial_intelligence information_retrieval 1
expert_systems feature_extraction 0
intelligent_control reinforcement_learning 1
artificial_intelligence cognitive_systems 1
genetic_algorithm image_classification 0
semantic_web support_vector_machines 0
artificial_intelligence reinforcement_learning 1
neural_networks computer_vision 1
support_vector_machines feature_extraction 0
fuzzy_logic support_vector_machines 0
neural_networks machine_learning 0
expert_systems support_vector_machines 1
artificial_neural_networks support_vector_machines 0
data_mining feature_selection 0
pattern_recognition image_classification 1
face_recognition image_classification 1
artificial_neural_networks feature_extraction 1
pattern_recognition machine_learning 0
data_mining feature_extraction 0
learning_algorithms data_mining 0
intelligent_control feature_extraction 0
knowledge_acquisition machine_learning 0
artificial_neural_networks object_recognition 1
knowledge_representation machine_learning 0
neural_networks support_vector_machines 0
mobile_robots image_classification 0
fuzzy_sets support_vector_machines 0
machine_learning object_recognition 0
neural_networks data_analysis 0
artificial_intelligence support_vector_machines 1
intelligent_control machine_learning 0
neural_networks image_classification 1
learning_algorithms feature_selection 0
artificial_intelligence image_processing 0
neural_networks object_recognition 1
machine_learning feature_extraction 0
support_vector_machines feature_selection 0
expert_systems data_mining 0
machine_learning support_vector_machines 0
artificial_neural_networks machine_learning 0
machine_learning feature_selection 0
genetic_algorithm evolutionary_computation 0
artificial_intelligence image_classification 1
artificial_intelligence natural_language_processing 1
artificial_intelligence data_mining 1
artificial_intelligence feature_selection 0
machine_learning evolutionary_computation 0
neural_networks reinforcement_learning 1
artificial_intelligence intelligent_system 0
artificial_intelligence image_matching 0